{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
	<div>
		<!-- Header y texto bienvenida -->
		<div class="row">
			<div class="col-md-12">
				<h1>Dashboard</h1>
				<h4>Bienvenido al panel de administración de F1Data,
					{{ app.user.userIdentifier }}</h4>
			</div>
		</div>
		<hr>
		<!-- Primera fila de 'cards'  -->
		<div class="row">
			<div class="col-md-3">
				<div class="card d-flex flex-row">
					<div class="d-flex justify-content-center align-items-center flex-shrink-0" style="width: 100px; background-color: #f0f0f0;">
						<i class="fa-solid fa-list fs-1"></i>
					</div>
					<div class="card-body d-flex justify-content-start flex-column">
						<h5 class="card-title">
							Temporadas
						</h5>
						<h6 class="card-subtitle mb-2 text-muted">{{ seasonCount }} Temporadas dadas de alta</h6>
						<div class="d-flex align-items-center">
							<a href="{{ path('admin', {'crudAction': 'new', 'crudControllerFqcn': 'App\\Controller\\Admin\\SeasonCrudController'}) }}" class="card-link me-2">
								<i class="fa-solid fa-plus"></i>
								Añadir
							</a>
							<a href="{{ path('admin', {'crudAction': 'index', 'crudControllerFqcn': 'App\\Controller\\Admin\\SeasonCrudController'}) }}" class="card-link">
								<i class="fa-solid fa-eye"></i>
								Listado
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card d-flex flex-row">
					<div class="d-flex justify-content-center align-items-center flex-shrink-0" style="width: 100px; background-color: #f0f0f0;">
						<i class="fa-solid fa-ring fs-1"></i>
					</div>
					<div class="card-body d-flex justify-content-start flex-column">
						<h5 class="card-title">
							Escuderías
						</h5>
						<h6 class="card-subtitle mb-2 text-muted">{{ teamCount }} Escuderías dadas de alta</h6>
						<div class="d-flex align-items-center">
							<a href="{{ path('admin', {'crudAction': 'new', 'crudControllerFqcn': 'App\\Controller\\Admin\\TeamCrudController'}) }}" class="card-link me-2">
								<i class="fa-solid fa-plus"></i>
								Añadir
							</a>
							<a href="{{ path('admin', {'crudAction': 'index', 'crudControllerFqcn': 'App\\Controller\\Admin\\TeamCrudController'}) }}" class="card-link">
								<i class="fa-solid fa-eye"></i>
								Listado
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card d-flex flex-row">
					<div class="d-flex justify-content-center align-items-center flex-shrink-0" style="width: 100px; background-color: #f0f0f0;">
						<i class="fa-solid fa-id-card fs-1"></i>
					</div>
					<div class="card-body d-flex justify-content-start flex-column">
						<h5 class="card-title">
							Pilotos
						</h5>
						<h6 class="card-subtitle mb-2 text-muted">{{ driverCount }} Pilotos dados de alta</h6>
						<div class="d-flex align-items-center">
							<a href="{{ path('admin', {'crudAction': 'new', 'crudControllerFqcn': 'App\\Controller\\Admin\\DriverCrudController'}) }}" class="card-link me-2">
								<i class="fa-solid fa-plus"></i>
								Añadir
							</a>
							<a href="{{ path('admin', {'crudAction': 'index', 'crudControllerFqcn': 'App\\Controller\\Admin\\DriverCrudController'}) }}" class="card-link">
								<i class="fa-solid fa-eye"></i>
								Listado
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card d-flex flex-row">
					<div class="d-flex justify-content-center align-items-center flex-shrink-0" style="width: 100px; background-color: #f0f0f0;">
						<i class="fa-solid fa-earth-europe fs-1"></i>
					</div>
					<div class="card-body d-flex justify-content-start flex-column">
						<h5 class="card-title">
							Circuitos
						</h5>
						<h6 class="card-subtitle mb-2 text-muted">{{ circuitCount }} Circuitos dados de alta</h6>
						<div class="d-flex align-items-center">
							<a href="{{ path('admin', {'crudAction': 'new', 'crudControllerFqcn': 'App\\Controller\\Admin\\CircuitCrudController'}) }}" class="card-link me-2">
								<i class="fa-solid fa-plus"></i>
								Añadir
							</a>
							<a href="{{ path('admin', {'crudAction': 'index', 'crudControllerFqcn': 'App\\Controller\\Admin\\CircuitCrudController'}) }}" class="card-link">
								<i class="fa-solid fa-eye"></i>
								Listado
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4">
				<div class="card d-flex flex-row">
					<div class="d-flex justify-content-center align-items-center flex-shrink-0" style="width: 100px; background-color: #f0f0f0;">
						<i class="fa-solid fa-calendar-days fs-1"></i>
					</div>
					<div class="card-body d-flex justify-content-start flex-column">
						<h5 class="card-title">
							Calendarios
						</h5>
						<h6 class="card-subtitle mb-2 text-muted">{{ scheduleCount }} Calendarios dados de alta</h6>
						<div class="d-flex align-items-center">
							<a href="{{ path('admin', {'crudAction': 'new', 'crudControllerFqcn': 'App\\Controller\\Admin\\ScheduleCrudController'}) }}" class="card-link me-2">
								<i class="fa-solid fa-plus"></i>
								Añadir
							</a>
							<a href="{{ path('admin', {'crudAction': 'index', 'crudControllerFqcn': 'App\\Controller\\Admin\\ScheduleCrudController'}) }}" class="card-link">
								<i class="fa-solid fa-eye"></i>
								Listado
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card d-flex flex-row">
					<div class="d-flex justify-content-center align-items-center flex-shrink-0" style="width: 100px; background-color: #f0f0f0;">
						<i class="fa-solid fa-trophy fs-1"></i>
					</div>
					<div class="card-body d-flex justify-content-start flex-column">
						<h5 class="card-title">
							Grandes Premios
						</h5>
						<h6 class="card-subtitle mb-2 text-muted">{{ meetingCount }} Grandes Premios dadas de alta</h6>
						<div class="d-flex align-items-center">
							<a href="{{ path('admin', {'crudAction': 'new', 'crudControllerFqcn': 'App\\Controller\\Admin\\MeetingCrudController'}) }}" class="card-link me-2">
								<i class="fa-solid fa-plus"></i>
								Añadir
							</a>
							<a href="{{ path('admin', {'crudAction': 'index', 'crudControllerFqcn': 'App\\Controller\\Admin\\MeetingCrudController'}) }}" class="card-link">
								<i class="fa-solid fa-eye"></i>
								Listado
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card d-flex flex-row">
					<div class="d-flex justify-content-center align-items-center flex-shrink-0" style="width: 100px; background-color: #f0f0f0;">
						<i class="fa-solid fa-stopwatch fs-1"></i>
					</div>
					<div class="card-body d-flex justify-content-start flex-column">
						<h5 class="card-title">
							Sesiones
						</h5>
						<h6 class="card-subtitle mb-2 text-muted">{{ sessionCount }} Sesiones dadas de alta</h6>
						<div class="d-flex align-items-center">
							<a href="#" class="card-link me-2">
								<i class="fa-solid fa-plus"></i>
								Añadir
							</a>
							<a href="#" class="card-link">
								<i class="fa-solid fa-eye"></i>
								Listado
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>

		<div class="row">
			<div class="col-md-12">
				<h2>NUEVA SECCIÓN</h2>
			<img
				src="http://www.medinacrespo.es/images/construccion.jpg"
				class="img-fluid rounded-top"
				alt="En construcción"
				style="width: 50%; height: auto;"
			/>
			
			
		</div>
	</div>
{% endblock %}
