{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
	<div>
		<!-- Header y texto bienvenida -->
		<div class="row">
			<div class="col-md-12">
				<h1>Dashboard</h1>
				<h4>Bienvenido al panel de administración de F1Data,
					{{ app.user.userIdentifier }}</h4>
			</div>
		</div>
		<hr>
		<!-- Primera fila de 'cards'  -->
		<div class="row">
			<div class="col-md-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">
							<i class="fa-solid fa-list"></i>
							Temporadas</h5>
						<h6 class="card-subtitle mb-2 text-muted">X Temporadas dadas de alta</h6>
						<a href="{{ path('admin', {'crudAction': 'new', 'crudControllerFqcn': 'App\\Controller\\Admin\\SeasonCrudController'}) }}" class="card-link">
							<i class="fa-solid fa-plus"></i>
							Añadir</a>
						<a href="{{ path('admin', {'crudAction': 'index', 'crudControllerFqcn': 'App\\Controller\\Admin\\SeasonCrudController'}) }}" class="card-link">
							<i class="fa-solid fa-eye"></i>
							Listado
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">
							<i class="fa fa-solid fa-people-group"></i>
							Escuderías</h5>
						<h6 class="card-subtitle mb-2 text-muted">X Escuderías dadas de alta</h6>
						<a href="{{ path('admin', {'crudAction': 'new', 'crudControllerFqcn': 'App\\Controller\\Admin\\TeamCrudController'}) }}" class="card-link">
							<i class="fa-solid fa-plus"></i>
							Añadir</a>
						<a href="{{ path('admin', {'crudAction': 'index', 'crudControllerFqcn': 'App\\Controller\\Admin\\TeamCrudController'}) }}" class="card-link">
							<i class="fa-solid fa-eye"></i>
							Listado
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">
							<i class="fa fa-solid fa-id-card"></i>
							Pilotos</h5>
						<h6 class="card-subtitle mb-2 text-muted">X Pilotos dados de alta</h6>
						<a href="{{ path('admin', {'crudAction': 'new', 'crudControllerFqcn': 'App\\Controller\\Admin\\DriverCrudController'}) }}" class="card-link">
							<i class="fa-solid fa-plus"></i>
							Añadir</a>
						<a href="{{ path('admin', {'crudAction': 'index', 'crudControllerFqcn': 'App\\Controller\\Admin\\DriverCrudController'}) }}" class="card-link">
							<i class="fa-solid fa-eye"></i>
							Listado
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">
							<i class="fa fa-solid fa-ring"></i>
							Circuitos</h5>
						<h6 class="card-subtitle mb-2 text-muted">X Circuitos dados de alta</h6>
						<a href="{{ path('admin', {'crudAction': 'new', 'crudControllerFqcn': 'App\\Controller\\Admin\\CircuitCrudController'}) }}" class="card-link">
							<i class="fa-solid fa-plus"></i>
							Añadir</a>
						<a href="{{ path('admin', {'crudAction': 'index', 'crudControllerFqcn': 'App\\Controller\\Admin\\CircuitCrudController'}) }}" class="card-link">
							<i class="fa-solid fa-eye"></i>
							Listado
						</a>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">
							<i class="fa-solid fa-calendar-days"></i>
							Calendarios</h5>
						<h6 class="card-subtitle mb-2 text-muted">X Calendarios dados de alta</h6>
						<a href="{{ path('admin', {'crudAction': 'new', 'crudControllerFqcn': 'App\\Controller\\Admin\\ScheduleCrudController'}) }}" class="card-link">
							<i class="fa-solid fa-plus"></i>
							Añadir</a>
						<a href="{{ path('admin', {'crudAction': 'index', 'crudControllerFqcn': 'App\\Controller\\Admin\\ScheduleCrudController'}) }}" class="card-link">
							<i class="fa-solid fa-eye"></i>
							Listado
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">
							<i class="fa-solid fa-earth-europe"></i>
							Grandes Premios</h5>
						<h6 class="card-subtitle mb-2 text-muted">X Grandes Premios dadas de alta</h6>
						<a href="{{ path('admin', {'crudAction': 'new', 'crudControllerFqcn': 'App\\Controller\\Admin\\MeetingCrudController'}) }}" class="card-link">
							<i class="fa-solid fa-plus"></i>
							Añadir</a>
						<a href="{{ path('admin', {'crudAction': 'index', 'crudControllerFqcn': 'App\\Controller\\Admin\\MeetingCrudController'}) }}" class="card-link">
							<i class="fa-solid fa-eye"></i>
							Listado
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">
							<i class="fa-solid fa-stopwatch"></i>
							Sesiones</h5>
						<h6 class="card-subtitle mb-2 text-muted">X Sesiones dadas de alta</h6>
						<a href="#" class="card-link">
							<i class="fa-solid fa-plus"></i>
							Añadir</a>
						<a href="#" class="card-link">
							<i class="fa-solid fa-eye"></i>
							Listado</a>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			2 DIV
		</div>
	</div>
{% endblock %}
