<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>F1 DATA</title>
		<link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<style>
			body {
				background-color: #212529;
				color: #f8f9fa;
				margin: 0;
				padding: 0;
			}

			.navbar {
				background-color: #343a40;
			}
			.navbar-nav .nav-link {
				color: #adb5bd;
			}
			.navbar-nav .nav-link:hover,
			.navbar-nav .nav-link.active {
				color: #ffffff;
			}

			.hero {
				background-image: url('{{ asset('bg-login.jpeg') }}');
				background-size: cover;
				background-position: center;
				width: 100%;
				height: 100vh; /* Esto hace que ocupe toda la pantalla */
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.hero .mask {
				background-color: rgba(0, 0, 0, 0.6);
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand d-flex align-items-center" href="{{ path('home') }}">
					<img src="{{ asset('logo.png') }}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
					F1 DATA
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="{{ path('schedule') }}">Calendario</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('team') }}">Escuderías</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('driver') }}">Pilotos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('circuit') }}">Circuitos</a>
						</li>
					</ul>
					{% if app.user %}
						<div class="ms-auto" role="group">
							<a href="{{ path('admin') }}" class="btn btn-outline-primary">IR AL DASHBOARD</a>
							<a href="{{ path('app_logout') }}" class="btn btn-outline-danger">
								<i class="fas fa-sign-out-alt me-2"></i>
								CERRAR SESIÓN
							</a>
						</div>
					{% else %}
						<!-- Button added for /login, pushed to the right -->
						<a href="{{ path('app_login') }}" class="btn btn-outline-light ms-auto">INICIAR SESIÓN</a>
					{% endif %}
				</div>
			</div>
		</nav>

		{% if app.request.attributes.get('_route') == 'home' %}
			<div class="hero">
				<div class="mask">
					<div class="text-center text-white">
						<h1 class="mb-3">Bienvenido a la App de Fórmula 1</h1>
						<h4 class="mb-3">Explora información sobre las escuderías, pilotos y circuitos de Fórmula 1.</h4>

						{% if app.user %}
							<a class="btn btn-outline-light btn-lg" href="{{ path('admin') }}" role="button">IR AL DASHBOARD</a>
						{% else %}
							<p class="mb-3">Inicia sesión para acceder al panel de administración.</p>
							<p class="mb-3">Si no tienes acceso, pídeme acceso enviando un correo a
								<i>samuelvillar9@gmail.com</i>
							</p>
							<a class="btn btn-outline-primary btn-lg" href="{{ path('app_login') }}" role="button">INICIAR SESIÓN</a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endif %}
		{% block body %}{% endblock %}

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	</body>
</html>
